<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Yet-To-Be-Named Ratings System!</title>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">

  </head>
  <body>

    <div class="container">
      <h1>Restaurants</h1>
      <hr/>
      <div class="page"></div>


    <!-- <script type="text/template" id="restaurant-list-template"> -->
      <a href="#/new" class="btn btn-primary">Add New Restaurant</a>
      <hr/>
      <table class="table striped">
        <thead>
          <tr>
            <th>Restaurant</th>
            <th>Theme</th>
            <th>Location</th>
            <th>Rating</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- // <% _.each(restaurants, function(restaurant) { %> -->
            <tr>
              <td><%= restaurant.get('name') %> </td>
              <td><%= restaurant.get('theme') %> </td>
              <td><%= restaurant.get('location') %> </td>
              <td><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><%= restaurant.get('rating') %> </td>
              <td><a class="btn btn-info" href="#/edit/<%= restaurant.id %>">Edit Info</a></td>
            </tr>
          <!-- // <% }) %> -->

        </tbody>
      </table>
    <!-- </script> -->

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.9/backbone.localStorage-min.js"></script>
    <!-- // <script type="text/javascript" src="js/scripts.js"></script> -->
    <script type="text/javascript" src="js/collections/restaurants.js"></script>
    <script type="text/javascript" src="js/models/restaurant.js"></script>
    <script type="text/javascript" src="js/views/restaurantslist.js"></script>
    <script type="text/javascript" src="js/routers/router.js"></script>


    </div>
  </body>
</html>